
/**
 * 唔，感觉差不多了
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }
 
 

/**
 * 啊，顺便说一下，这段代码你也可以随意修改哦，尝试添加新的CSS吧!
 *
 * 举个例子,
 *
 * 'text-shadow' 有四个属性:
 * 'x', 'y', 'blur', 'color'.
 *
 * 如果我想给字体添加一个倒影
 * 我们也可以在下面继续添加一个15px的倒影
 */

.value {
  text-shadow: 0px 15px 1px white;
}

/**
 * 唔，最近离职了
 * 为了找工作，我把简历也放在这个页面上吧~
 * 为了不打扰你的时间，简历的制作过程我就快一点~
 */


